* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}
body {
  height: 100vh;
  min-height: 100vh;
  overflow: auto;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
}
.photo-section {
  height: 100%;
  width: 49.5%;
  position: relative;
}
.background {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to left top, #43cea2, #185a9d);
  opacity: 0.85;
}
.photo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
@media (max-width: 768px){
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .photo-section {
    height: 50%;
    width: 100%;
    position: relative;
    overflow:hidden !important;
  }
} 


.intro-section {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.name-text {
  font-size: 1.6rem;
  margin: 1.5rem;
  font-weight: 500;
}
.intro-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.icon-section {
  display: flex;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
}
.icon {
  fill: white;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.7rem;
  cursor: pointer;
}
.detail-section {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
  padding: 2rem;
}
.detail-row{
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  justify-content: center;
}
.detail-col1{
  flex: 1;
}
.detail-col2{
  flex: 5;
}
.heading{
  font-size: 1rem;
  font-weight: 500;
  background:linear-gradient(to right, #185a9d, #43cea2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.display-flex{
  display: flex;
  align-items: baseline;
}
.font1{
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2rem;
}
.font2{
  font-weight: 300;
}
.font3{
  color: gray;
}
.grey-font{
  font-weight: 500;
  color: gray;
  margin: 1rem 0;
  opacity: .7;
}
.link:visited,.link{
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.link:hover{
  cursor: pointer;
}
.project{
  margin-bottom: 2rem;
}
.resume-link{
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
} 
.exp-heading{
  display: flex;
  justify-content: space-between;
}
.exp-duration{
  margin-top: 0;
}